.Sounds {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #16139b;
  position: absolute;
  top: 1.2rem;
  left: 0.9rem;
}

.title {
  font-family: "Montserrat", sans-serif;
  
  color: #16139b;
  font-weight: 600;
  font-size: 1.5vw;
  position: relative;
  left: 5.4rem;
  bottom: 1rem;
  
}
.sc-div {
  margin-top: 8vh;
  height: 45vh;
  width: 74vw;
  overflow-x:hidden;
}

.sc-div::-webkit-scrollbar {
  width: 0.5em;
}

.sc-div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

Span {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter ;
  color: #16139b;
  
  font-size: 1vw;
  padding: 5px;
  position: relative;
  left: 6.5vw;
  top: -2.3rem;
}

.bg-opacity-25 {
  background-color: white !important;
}

.bg-white {
  border-radius: 20px;
}

.stop-scroll {
  animation-play-state: paused;
}

  @keyframes scrollingAnimation {
    to {
      top: 100%;
}
  }

  @media (max-width: 768px) {
    .Sounds {
      /* Adjust top and left for smaller screens */
      top: 0.5rem;
      left: 0.5rem;
    }
  
    .title {
      /* Adjust left and bottom for smaller screens */
      left: 2.4rem;
      bottom: 0.5rem;
    }
  
    .sc-div {
      /* Adjust margin-top, height, and width for smaller screens */
      margin-top: 4vh;
      height: 35vh;
      width: 90vw;
    }
  
    /* Additional adjustments... */
  }