.Sounds {
  font-family: Monstserrat, serif;
  color: #16139b;
  position: absolute;
  top: 0.9rem;
  left: 4.9rem;
}

.title {
  font-family: Monstserrat, serif;
  color: #16139b;
  font-weight: 600;
  font-size: 1.5vw;
  position: relative;
  left: 6.4rem;
  bottom: 1rem;
}
.sc-div {
  margin-top: 10vh;
  overflow-x: scroll;
  height: 50vh;
  width: 120vw;
}

Span {
  font-family: Monstserrat, serif;
  color: #16139b;
  font-weight: 700;
  font-size: 1vw;
  padding: 5px;
  position: relative;
  left: 6.5vw;
  top: -2.3rem;
}

.bg-opacity-25 {
  background-color: white !important;
}

.bg-white {
  border-radius: 20px;
}
