.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
    background-color: #E4EEFA;
    width: 100%;
  }
  
  .search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    width: 400px;
    box-sizing: border-box;
    outline: none;
    background-color: white;
    height: 25%
  }

 
  
  
  .input input::placeholder {
    color: #999;
  }