.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    background-color: white;
  }
  
  .search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    width: 400px;
    box-sizing: border-box;
    outline: none;
  }
  
  
  .input input::placeholder {
    color: #999;
  }