.audio-player {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.audio-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.audio-text {
  flex: 1;
}

.audio-text p {
  margin: 0;
  color: gray;
}

.audio-text h2 {
  margin: 0;
  font-size: 24px;
}

.audio-text h3 {
  margin: 0;
  font-size: 18px;
  color: gray;
}



.audio-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.audio-controls button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}


.audio-progress-bar {
  height: 20px;
  width: 20px;
  background: green;
}

.audio-time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: gray;
}
