
.navbar {
  flex-direction: column;
  align-items: flex-start;
  width: 1600px;
  height: 900px;
  
  
}

.navBarContainer {
  margin-left: 10px;
  width: 250px; 
  background-color: #fff;
  padding: 10px; 
  height: 100%; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
}

.navbar-brand {
  margin-bottom: 20px; 
}

.nav-items-container {
flex-direction: column !important;
margin:0 !important;


}




.nav-items-container img {
  align-items:center !important;
  }



.nav-item-text {
  font-family: Montserrat, serif;
  font-size: 16px;
  color: #16139b;
  border: 0.5px solid white;
}
.nav-item-text-upload {
  font-family: Montserrat, serif;
  font-size: 16px;
  color: #16139b;
  border: 0.5px solid white;
  visibility: hidden !important;
}

.nav-item-text:hover {
  background-color: #e4eefa;
  border: 0.5px solid #cfe0f4;
  box-shadow: 0px 0.5px 1px #cfe0f4, 0px -0.4px 1px #cfe0f4;
}

/*.menu-text {
  font-family: Montserrat, serif;
  font-size: 16px;
  color: #16139b;
  opacity: 60%;
}*/

.menu-item-text {
  font-family: Montserrat, serif;
  font-size: 16px;
  color: #16139b;
  top: 0.2em;
  left:7px;
  
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: flex-start !important;
  align-items: flex-start;

}

.bg-body-tertiary {
  background-color: #E4EEFA !important;
  width: 1313px !important;
  height: 697px !important;

}